.task-list {
    scrollbar-width: thin; /* "auto" or "thin" for Firefox */
  }
  
  .task-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .task-list::-webkit-scrollbar-thumb {
    background-color: #adc2ef;
    border-radius: 6px;
  }
  
  .task-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
